nicegui==1.4.26
starlette==0.36.3

opencv-python~=4.10.0.82
numpy~=1.26.4
shapely~=2.0.4
scipy~=1.13.1
scikit-learn~=1.5.0
PyYAML~=6.0.1

tqdm~=4.66.4
pillow~=10.3.0
PyYAML~=6.0.1
torchvision~=0.18.0

matplotlib~=3.9.0
joblib~=1.4.2
pandas~=2.2.2
pyarrow==16.1.0
thop~=0.1.1.post2209072238

ultralytics~=8.2.22
torch~=2.3.0
ffmpeg~=1.4
moviepy~=1.0.3
